<div class="container">
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
      <h1 class="card__logo">Regestration form</h1>

      <div class="form-control">
        <label class="form-control__text">Имя</label>
        <input class="form-control__input" type="text" placeholder="Имя ...." formControlName="name">
        <div class="validation" *ngIf="form.get('name').invalid && form.get('name').touched">
          <div class="validation__small-text" *ngIf="form.get('name').errors.required">
            Поле имя не может быть пустым
          </div>
        </div>
      </div>

      <div class="form-control">
        <label class="form-control__text">Фамилия</label>
        <input class="form-control__input" type="text" placeholder="Фамилия ..." formControlName="surname">
        <div class="validation" *ngIf="form.get('surname').invalid && form.get('surname').touched">
          <div class="validation__small-text" *ngIf="form.get('surname').errors.required">
            Поле фамилия не может быть пустым
          </div>
        </div>
      </div>

      <div class="form-control">
        <label class="form-control__text">Должность</label>
        <input class="form-control__input" type="text" placeholder="Должность ..." formControlName="position">
        <div class="validation" *ngIf="form.get('position').invalid && form.get('position').touched">
          <div class="validation__small-text" *ngIf="form.get('position').errors.required">
            Поле должность не может быть пустым
          </div>
        </div>
      </div>

      <div class="form-control">
        <label class="form-control__text">Адрес</label>
        <input class="form-control__input" type="text" placeholder="Адрес ..." formControlName="adress">
        <div class="validation" *ngIf="form.get('adress').invalid && form.get('adress').touched">
          <div class="validation__small-text" *ngIf="form.get('adress').errors.required">
            Поле адресс не может быть пустым
          </div>
        </div>
      </div>

      <div class="form-control">
        <label class="form-control__text">Телефон</label>
        <input class="form-control__input" type="text" placeholder="Телефон ..." formControlName="phone">
        <div class="validation" *ngIf="form.get('surname').invalid && form.get('surname').touched">
          <div class="validation__small-text" *ngIf="form.get('surname').errors.required">
            Поле фамилия не может быть пустым
          </div>
        </div>
      </div>
  
  
      <div class="card">
        <h2>Роль пользователя</h2>
  
        <div class="form-control" formGroupName="rule">
          <label class="form-control__text">Выбрать тип пользователя</label>
  
          <select class="form-control__select" formControlName="type">
            <option value="admin">Администартор</option>
            <option value="operator">Оператор</option>
            <option value="worker">Рабочий</option>
          </select>
        </div>

      </div>
  
      <button class="btn" [disabled]="form.invalid" type="submit"></button>
    </form>
  </div>
  

