.wrapper{
    width: 1400px;
    margin: auto;
}

.app-user{
    display: flex;
    &__user-list{
        border: 1px solid red;
        width: 400px;
        height: 100%;
        border-radius: 10px;   
    }
}

