<div class="app">
    <ul class="app--navigation">
       <li> <a class="app--navigation-item" [routerLink]="['/user-page']"routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Users</a></li>
         <li><a class="app--navigation-item" [routerLink]="['/forms/reactive-form']" routerLinkActive="active" >Tasks</a></li>
         <li><a class="app--navigation-item" [routerLink]="['/users']" routerLinkActive="active" >Graphic</a></li>
    </ul>
    <div class="app--router-outlet">
        <router-outlet></router-outlet>
    </div>
</div>
<app-user-page></app-user-page>
