<nav class="navbar bg-primary">
    <h1>
        <a routerLink='/'>Project admin</a>
    </h1>
    <ul>
        <li >
            <a [routerLink]="[]">Главная</a>
        </li>
        <li>
            <a [routerLink]="['/users']">Пользователи</a>
        </li>
        <li>
            <a [routerLink]="[]">Задачи</a>
        </li>
        <li>
            <a [routerLink]="[]">График</a>
        </li>
        <li>
            <a href="#" (click)="logout($event)">Выйти</a>
        </li>
    </ul>
</nav>

<div>
    <router-outlet></router-outlet>
</div>
